[submodule "lib/celo-foundry"]
	path = lib/celo-foundry
	url = https://github.com/bowd/celo-foundry
[submodule "lib/mento-core-2.2.0"]
	path = lib/mento-core-2.2.0
	url = https://github.com/mento-protocol/mento-core
[submodule "lib/mento-core-2.1.0"]
	path = lib/mento-core-2.1.0
	url = https://github.com/mento-protocol/mento-core
[submodule "lib/mento-core-2.0.0"]
	path = lib/mento-core-2.0.0
	url = https://github.com/mento-protocol/mento-core
[submodule "lib/forge-std-next"]
	path = lib/forge-std-next
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/mento-core-2.3.1"]
	path = lib/mento-core-2.3.1
	url = https://github.com/mento-protocol/mento-core
[submodule "lib/mento-core-develop"]
	path = lib/mento-core-develop
	url = https://github.com/mento-protocol/mento-core
[submodule "lib/mento-core-2.5.0"]
	path = lib/mento-core-2.5.0
	url = https://github.com/mento-protocol/mento-core
[submodule "lib/merkle-distributor"]
	path = lib/merkle-distributor
	url = https://github.com/Uniswap/merkle-distributor
[submodule "lib/mento-core-2.6.0"]
	path = lib/mento-core-2.6.0
	url = https://github.com/mento-protocol/mento-core
[submodule "lib/mento-core-2.6.2"]
	path = lib/mento-core-2.6.2
	url = https://github.com/mento-protocol/mento-core
